<section class="p-b-70 p-t-55 ">
  <div class="container">

    <div class="row m-t-30">
      <div class="col-md-7 col-sm-12 col-xs-12 xs-m-b-20">

      </div>

      <div class="col-md-5 col-sm-12 col-xs-12 xs-m-b-20">
        <ul class="no-style">
          <li class="m-b-5">
            <h5 class="text-black">
              <strong>ABOUT US</strong>
            </h5>
          </li>

          <li class="m-b-5 no-padding">
            <h6 class="text-black">
              <strong>
                Nakenohs Boulevard is an upscale strip mall currently located on
                Alexander Avenue, the high prestigious axis of Lagos
              </strong>
            </h6>
          </li>

          <li class="m-b-5 no-padding">
            <h6 class="text-black">
              <strong>
                The mall consists of (18+) retail outlets and was established to
                gove residents in the metropolis easier access as well as to
                promote and grow proudly Nigerian business in the retail sector
              </strong>
            </h6>
          </li>
        </ul>

        <div class="m-t-25">
          <h5 class="text-black">
            <strong>RECEIVE OUR NEWSLETTER</strong>
            <form class="m-t-15">
              <input type="email" required
                placeholder="E-mail address" /><button>SIGN UP</button>
            </form>
          </h5>
        </div>

        <hr style="border: 1px solid black" />

        <div>
          <div class="col-md-7 no-padding">
            <h5 class="text-black">
              <strong>CONTACT US</strong>
            </h5>

            <h6>
              <strong> 08034078653</strong>
            </h6>

            <h6>
              <strong>
                nakenohs.bvld@gmail.com
              </strong>
            </h6>
          </div>


          <div class="col-md-5">
            <ul
              class="no-style fs-12 no-padding pull-right xs-pull-left xs-m-t-20">

              </li>
              <li class="inline no-padding"><a href="#"
                  class="text-black p-l-30 fs-16"><i
                    class="fa fa-instagram"></i></a>
              </li>

              <li class="inline no-padding"><a href="#"
                  class="text-black p-l-30 fs-16"><i
                    class="fa fa-twitter"></i></a>

              <li class="inline no-padding">
                <a href="#" class="text-black p-l-30 fs-16 xs-no-padding">
                  <i class="fa fa-facebook"></i></a>
              </li>

            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-t-10 p-b-10 bg-master-darkest">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="fs-11 no-margin font-arial text-white small-text">
          © 2019 Nakenohs Boulevard. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</section>