<section class="p-t-55 ">
  <div class="container-fluid no-padding">

    <div class="row text-center m-t-20">
      <hr class="logo-hr" />
      <img src="/assets/images/Logo@3x-2.png" width="120" height="43"
        data-src-retina="/assets/images/Logo@3x-2.png" alt="Nakenohs Boulevard"
        style="margin: 15px" />
      <hr class="logo-hr" />
    </div>

  </div>
</section>

<section>
  <div class="container">
    <div class="row m-t-20 p-b-55">

      <div class="col-md-6 col-sm-12 col-xs-12 xs-m-b-20">
        <div class="p-50">
          <ul class="no-style">
            <li class="m-b-5">
              <h5 class="text-black">
                <strong>ABOUT US</strong>
              </h5>
            </li>

            <li class="m-b-5 no-padding">
              <h6 class="text-black">
                Nakenohs Boulevard is an upscale strip mall currently located
                on
                Alexander Avenue Ikoyi, the high prestigious axis of Lagos

              </h6>
            </li>

            <li class="m-b-5 no-padding">
              <h6 class="text-black">

                The mall consists of (16+) retail outlets and was established
                to
                give residents in the metropolis easier access as well as to
                promote and grow proudly Nigerian business in the retail
                sector

              </h6>
            </li>
          </ul>

          <div class="m-t-25">
            <h5 class="text-black">
              <strong>RECEIVE OUR NEWSLETTER</strong>
              <form class="m-t-15">
                <input type="email" required
                  placeholder="E-mail address" /><button>SIGN UP</button>
              </form>
            </h5>
          </div>

          <hr style="border: 0.6px solid black" />

          <div>
            <div class="col-md-7 no-padding">
              <h5 class="text-black">
                <strong> CONTACT US</strong>
              </h5>

              <a href="tel: 08034078653">
                <h6>
                  08034078653
                </h6>
              </a>

              <a href="mailto:nakenohs.bvld@gmail.com?Subject=Hello%20Nakenohs">
                <h6>
                  nakenohs.bvld@gmail.com
                </h6>
              </a>
            </div>

            <div class="col-md-5">
              <ul
                class="no-style fs-12 no-padding pull-right xs-pull-left xs-m-t-20">

                <li class="inline no-padding"><a
                    href="https://www.instagram.com/nakenohs/"
                    class="text-black fs-16"><i class="fa fa-instagram"></i></a>
                </li>

                {{!-- <li class="inline no-padding"><a href="#"
                    class="text-black p-l-30 fs-16"><i
                      class="fa fa-twitter"></i></a>

                <li class="inline no-padding">
                  <a href="#" class="text-black p-l-30 fs-16">
                    <i class="fa fa-facebook"></i></a>
                </li> --}}

              </ul>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-xs-12 xs-m-b-20">
        <div class="mapouter">
          <div class="gmap_canvas m-t-20 p-20">
            <iframe id="gmap"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.5951607279258!2d3.4470894147703044!3d6.445993695336514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf4e4cc35e1b9%3A0xe6f67a858b039899!2s40+Alexander+Rd%2C+Ikoyi%2C+Lagos!5e0!3m2!1sen!2sng!4v1562681735375!5m2!1sen!2sng"
              width="600" height="450" frameborder="0" style="border:0"
              allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-t-10 p-b-10 bg-master-darkest">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="fs-11 no-margin font-arial text-white small-text">
          © 2019 Nakenohs Boulevard. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</section>