<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 no-padding">

        <div class="img">
        </div>

      </div>

      <div class="col-md-5 no-padding">
        <div class="content">
          <section class="m-t-50 text-center">
            <h1>COMING SOON</h1>
            <small class="f-w-100">NAKENOHSBOULEVARD.COM</small>

            <div class="m-t-70">
              <small>
                <strong>
                  Get notified of our offers and events
                </strong>
              </small>

              <div class="m-t-30 text-center">
                <form>
                  <input type="email" required
                    placeholder="E-mail address" /><button>SIGN UP</button>
                </form>

              </div>
            </div>

          </section>
        </div>
      </div>
    </div>
  </div>

  </div>

</body>