<div class="p-t-60">
  <!-- START CONTACT SECTION -->
  <section
    class="container container-fixed-lg p-t-70 p-b-80  sm-p-t-30 sm-p-b-30">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-sm-6 col-md-12">
            <h4>Need service or support? <br>
              Type your needed request and <br>
              we’ll find you a solution.</h4>
          </div>
          <div class="col-sm-6 col-md-12">
            <br class="visible-md visible-xs">
            <h5 class="block-title hint-text m-b-0">pages.co </h5>
            <address class="text-master m-t-5">Stranthvale Place, 90 North
              <br> Church street, Po Box 10374 APO
              <br> George town.
              <br> Cayman Islands</address>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <br class=" visible-xs">
        <br class="visible-xs">
        <h4 class="sm-m-t-20">Say hellow!</h4>
        <form class="" role="form">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group form-group-default">
                <label>First name</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group form-group-default">
                <label>Last name</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group form-group-default">
            <label>Message</label>
            <textarea class="form-control" style="height:100px"
              placeholder="Type the message you want inquire"></textarea>
          </div>
          <p class="pull-left  small hint-text m-t-5 font-arial sm-m-t-10">I
            hereby certify that the information above is true and accurate. </p>
          <button
            class="btn btn-white font-montserrat all-caps fs-11 pull-right sm-m-t-10">Send
            request</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </section>
  <!-- END CONTACT SECION -->
  <!-- START GOOGLE MAP -->
  <section class="container-fluid  no-padding no-overflow sm-m-t-20">
    <!-- Map -->
    <div id="google-map"
      class="full-width demo-map gradient-overlay no-overflow"></div>
  </section>
  <!-- END GOOGLE MAP -->
</div>