<!-- BEGIN JUMBOTRON -->
<section id="demo-hero-4" class="jumbotron relative vh-60 m-t-85 center-bg"
  data-pages-bg-image="/assets/images/HomepageHeader.png">
  <div class="container-xs-height full-height">
    <div class="col-xs-height col-middle">
      <!-- BEGIN CONTENT -->
      <div class="content-layer">
        <div class="inner full-height">
          <div class="container-xs-height full-height">
            {{!-- <div class="col-xs-height col-middle text-center">
              <h1 class="hidden-xs">Life is a story. Make yours last.</h1>
              <h2 class="visible-xs">Life is a story. Make yours last.</h2>
            </div> --}}
          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
  </div>
</section>
<!-- END JUMBOTRON -->

<section class="container">
  <div class="row m-t-40">
    <div class="col-md-6 no-padding">
      <iframe id="video" width="560" height="350"
        src="https://www.youtube.com/embed/wX-uw_woY8o?start=112"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
      <div class="content">
        <section class="m-t-25 p-30">
          {{!-- <h1>UPSCALE PREMIERE STRIP MALL</h1>
          <a href="/shops">
            <button class="btn exploreMoreBtn m-t-20">EXPLORE MORE</button>
          </a> --}}
          <h3 style="text-align: justify">
            Celebrating 10 Years! Nakenohs hosts Guests to an Uber-Fab Black Tie
            Anniversary Event
          </h3>
          <p style="text-align: justify">
            Nakenohs celebrated 10 amazing years with family, friends and
            industry professionals. Owned by Wunmi Wiliams, a retail strategist
            started from her suitcase to asoebi packages. Nakenohs is a pioneer
            in the new generation aso-ebi industry. Now, at its 10 year
            anniversary, the company has announced a new venture – Nakenohs
            Boulevard – a fashion and lifestyle shopping centre set to launch in
            Ikoyi, Lagos.
          </p>
          <p>
            <a href="https://www.bellanaija.com/2015/10/celebrating-10-years-nakenohs-boulevard-hosts-guests-to-an-uber-fab-black-tie-anniversary-event/"
              target="_blank">
              <button class="btn exploreMoreBtn m-t-20">READ MORE</button>
            </a>
          </p>
        </section>
      </div>
    </div>
  </div>
  </div>
</section>

<section class="container-fluid">
  <div class="row m-t-40">
    <div class="col-md-12 col-xs-12 no-padding">
      <img
        src="/assets/images/editorial/034-036-Focus-Nigerian-Retail-1-Page-1.png"
        class="editorialImage" />
    </div>

    <div class="col-md-12 col-xs-12 no-padding">
      <img
        src="/assets/images/editorial/034-036-Focus-Nigerian-Retail-2-Page-2.png"
        class="editorialImage" />
    </div>

    <div class="col-md-12col-xs-12 no-padding">
      <img
        src="/assets/images/editorial/034-036-Focus-Nigerian-Retail-3-Page-3.png"
        class="editorialImage" />
    </div>

  </div>
  </div>
</section>