<!-- BEGIN JUMBOTRON -->
<section id="demo-hero-4" class="jumbotron relative vh-60 m-t-85 center-bg"
  data-pages-bg-image="/assets/images/HomepageHeader.png">
  <div class="container-xs-height full-height">
    <div class="col-xs-height col-middle">
      <!-- BEGIN CONTENT -->
      <div class="content-layer">
        <div class="inner full-height">
          <div class="container-xs-height full-height">
            {{!-- <div class="col-xs-height col-middle text-center">
              <h1 class="hidden-xs">Life is a story. Make yours last.</h1>
              <h2 class="visible-xs">Life is a story. Make yours last.</h2>
            </div> --}}
          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
  </div>
</section>
<!-- END JUMBOTRON -->

<section class="container-fluid">
  <div class="row m-t-40">
    <div class="col-md-6 no-padding">
      <iframe id="video" width="560" height="350"
        src="https://www.youtube.com/embed/wX-uw_woY8o?start=112"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="col-md-6 text-center">
      <div class="content">
        <section class="m-t-25 text-center p-30">
          {{!-- <h1>UPSCALE PREMIERE STRIP MALL</h1>
          <a href="/shops">
            <button class="btn exploreMoreBtn m-t-20">EXPLORE MORE</button>
          </a> --}}
          <h2>
            About us
          </h2>
          <h5>
            Nakenohs Boulevard is an upscale strip mall currently located on
            Alexander Avenue, the high prestigious axis of Lagos
            The mall consists of (16+) retail outlets and was established to
            give residents in the metropolis easier access as well as to promote
            and grow proudly Nigerian business in the retail sector
          </h5>
        </section>
      </div>
    </div>
  </div>
  </div>
</section>