<!-- BEGIN JUMBOTRON -->
<section id="demo-hero-3" class="jumbotron vh-70 p-t-80" data-pages="parallax">
  <div class="inner full-height">
    <!-- BEGIN SLIDER -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <!-- BEGIN SLIDE -->
        <div class="swiper-slide fit slide-1"
          style="background-position: center"
          data-pages-bg-image="assets/images/Event-Space/b5e11e70-a97b-4e70-8b0d-d70de0e67aa3.JPG">
          <!-- BEGIN IMAGE PARRALAX -->
          <div class="slider-wrapper">
          </div>
          <!-- END IMAGE PARRALAX -->
          <!-- BEGIN CONTENT -->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle text-left">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <h1 class="light text-white"
                          data-swiper-parallax="-15%">
                          Event Space
                        </h1>
                        <hr>
                        <p class="light text-white">
                          A venue suitable enough for intimate events, kids
                          parties and networking events.
                        </p>
                        <p class="light text-white">
                          Can sit a 100 people banquet and 150 or more
                          theatre style.
                        </p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>

        <div class="swiper-slide fit slide-1"
          style="background-position: center"
          data-pages-bg-image="assets/images/Event-Space/abd5469a-4efd-4d23-9960-cbbf69e70a59.JPG">
          <!-- BEGIN IMAGE PARRALAX -->
          <div class="slider-wrapper">
          </div>
          <!-- END IMAGE PARRALAX -->
          <!-- BEGIN CONTENT -->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle text-left">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <h1 class="light text-white"
                          data-swiper-parallax="-15%">
                          Event Space
                        </h1>
                        <hr>
                        <p class="light text-white">
                          A venue suitable enough for intimate events, kids
                          parties and networking events.
                        </p>
                        <p class="light text-white">
                          Can sit a 100 people banquet and 150 or more
                          theatre style.
                        </p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>

        <div class="swiper-slide fit slide-1"
          style="background-position: center"
          data-pages-bg-image="assets/images/Event-Space/aa59af9e-e315-4d6e-97d7-f931a46c9f18.JPG">
          <!-- BEGIN IMAGE PARRALAX -->
          <div class="slider-wrapper">
          </div>
          <!-- END IMAGE PARRALAX -->
          <!-- BEGIN CONTENT -->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle text-left">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <h1 class="light text-white"
                          data-swiper-parallax="-15%">
                          Event Space
                        </h1>
                        <hr>
                        <p class="light text-white">
                          A venue suitable enough for intimate events, kids
                          parties and networking events.
                        </p>
                        <p class="light text-white">
                          Can sit a 100 people banquet and 150 or more
                          theatre style.
                        </p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>

        <div class="swiper-slide fit slide-1"
          style="background-position: center"
          data-pages-bg-image="assets/images/Event-Space/a6a58607-ab26-4f74-8497-c8dc4fcb5187.JPG">
          <!-- BEGIN IMAGE PARRALAX -->
          <div class="slider-wrapper">
          </div>
          <!-- END IMAGE PARRALAX -->
          <!-- BEGIN CONTENT -->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle text-left">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <h1 class="light text-white"
                          data-swiper-parallax="-15%">
                          Event Space
                        </h1>
                        <hr>
                        <p class="light text-white">
                          A venue suitable enough for intimate events, kids
                          parties and networking events.
                        </p>
                        <p class="light text-white">
                          Can sit a 100 people banquet and 150 or more
                          theatre style.
                        </p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SLIDE -->
        <!-- BEGIN SLIDE -->
        {{!-- <div class="swiper-slide fit slide-1"
          data-pages-bg-image="assets/images/gallery/IMG-2026.png">
          <!-- BEGIN IMAGE PARRALAX -->
          <div class="slider-wrapper">
          </div>
          <!-- END IMAGE PARRALAX -->
          <!-- BEGIN CONTENT -->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle text-left">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <h1 class="light text-white"
                          data-swiper-parallax="-15%">
                          Event Space
                        </h1>
                        <hr>
                        {{!-- <p class="light text-white">
                          A venue suitable enough for intimate events, kids
                          parties and networking events.
                        </p>
                        <p class="light text-white">
                          Can sit a 100 people banquet and 150 or more
                          theatre style.
                        </p> --}}
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <!-- END CONTENT -->
  </div> --}}
  <!-- END SLIDE -->
  </div>
  <!-- Add Navigation -->
  <div
    class="swiper-navigation swiper-dark-solid swiper-button-prev auto-reveal">
  </div>
  <div
    class="swiper-navigation swiper-dark-solid swiper-button-next auto-reveal">
  </div>
  </div>
  </div>
  <!-- END SLIDER -->
</section>
<!-- END JUMBOTRON -->

<section
  class="p-t-90 p-b-90 bg-master-darkest demo-story-block xs-p-t-20 xs-p-b-20">
  <div class="container sm-p-t-20">
    <div class="text-center">
      <h3 class="text-white m-b-0 m-t-5">Sign Up</h3>
      <h6 class="text-white m-b-0">Get notified of new events</h6>
    </div>

    <form role="form" class="p-3" style="margin-top: 100px">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group form-group-default">
            <label>First name</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group form-group-default">
            <label>Last name</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="form-group form-group-default">
        <label>E-mail Address</label>
        <input type="text" class="form-control" />
      </div>

      <div class="clearfix"></div>
      <div class="text-center">
        <button class="btn btn-primary m-t-20">Sign up</button>
      </div>

    </form>

  </div>
</section>