<!-- BEGIN JUMBOTRON -->
<section class="p-t-80">
  <div class="gallery">
    <div class="grid-sizer col-sm-3 col-xs-12 no-padding"></div>

    <!-- START GALLERY ITEM -->
    <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">

      </div>
      <div class="ar-2-1">
        <!-- START PREVIEW -->
        <div
          data-pages-bg-image="/assets/images/Event-Space/b5e11e70-a97b-4e70-8b0d-d70de0e67aa3.JPG"
          data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>

    <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">

      </div>
      <div class="ar-2-1">
        <!-- START PREVIEW -->
        <div data-pages-bg-image="/assets/images/Event-Space/IMG-7495.jpg"
          data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>

    <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">

      </div>
      <div class="ar-2-1">
        <!-- START PREVIEW -->
        <div
          data-pages-bg-image="/assets/images/Event-Space/abd5469a-4efd-4d23-9960-cbbf69e70a59.JPG"
          data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>

    <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">

      </div>
      <div class="ar-2-1">
        <!-- START PREVIEW -->
        <div
          data-pages-bg-image="/assets/images/Event-Space/a62ba050-9e64-4ca7-9ec4-b5287add3d91.JPG"
          data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>

    <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">

      </div>
      <div class="ar-2-1">
        <!-- START PREVIEW -->
        <div data-pages-bg-image="/assets/images/Event-Space/IMG-7492.jpg"
          data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>

    <!-- END GALLERY ITEM -->
    <!-- START GALLERY ITEM -->
    <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">

      </div>
      <div class="ar-2-1">
        <!-- START PREVIEW -->
        <div data-pages-bg-image="/assets/images/Event-Space/IMG-7497.jpg"
          data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>
    <!-- END GALLERY ITEM -->
    <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">
        {{!-- <h6 class="block-title fs-11 hint-text text-white m-t-5 m-b-0">03 Nov
          2015</h6>
        <p class="font-arial fs-11 text-white muted m-t-5 m-b-0">Logo design,
          Web Design and Branding</p> --}}
      </div>
      <div class="ar-2-1">
        <!-- START PREVIEW -->
        <div
          data-pages-bg-image="/assets/images/Event-Space/a6a58607-ab26-4f74-8497-c8dc4fcb5187.JPG"
          data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>

    <!-- END GALLERY ITEM -->

    <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">

      </div>
      <div class="ar-2-1">
        <!-- START PREVIEW -->
        <div
          data-pages-bg-image="/assets/images/Event-Space/bd86ad0b-5224-4ced-993c-f11ddee8bfb6.JPG"
          data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>

  </div>

</section>
<!-- END JUMBOTRON -->

<section
  class="p-t-90 p-b-90 bg-master-darkest demo-story-block xs-p-t-20 xs-p-b-20">
  <div class="container sm-p-t-20">
    <div class="text-center">
      <h3 class="text-white m-b-0 m-t-5">Sign Up</h3>
      <h6 class="text-white m-b-0">Get notified of new events</h6>
    </div>

    <form role="form" class="p-3" style="margin-top: 100px">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group form-group-default">
            <label>First name</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group form-group-default">
            <label>Last name</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="form-group form-group-default">
        <label>E-mail Address</label>
        <input type="text" class="form-control" />
      </div>

      <div class="clearfix"></div>
      <div class="text-center">
        <button class="btn btn-primary m-t-20">Sign up</button>
      </div>

    </form>

  </div>
</section>