<section class="p-b-40 p-t-80">
  <div class="gallery">
    <div class="grid-sizer col-sm-3 col-xs-12 no-padding"></div>

    <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">
        {{!-- <h6 class="block-title fs-11 hint-text text-white m-t-5 m-b-0">03 Nov
          2015</h6>
        <p class="font-arial fs-11 text-white muted m-t-5 m-b-0">Logo design,
          Web Design and Branding</p> --}}
      </div>
      <div class="ar-1-1">
        <!-- START PREVIEW -->
        <div
          data-pages-bg-image="/assets/images/Gallery-new/e520afc8-cfb5-44b9-9da7-c4b252a56349.jpg"
          data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>

    <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">

      </div>
      <div class="ar-1-1">
        <!-- START PREVIEW -->
        <div
          data-pages-bg-image="/assets/images/Gallery-new/PHOTO-2019-06-30-20-43-15.jpg"
          data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>

    <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">

      </div>
      <div class="ar-1-1">
        <!-- START PREVIEW -->
        <div
          data-pages-bg-image="/assets/images/Gallery-new/sm-b465b052-88e7-4937-ad57-cf59caa001d2.jpg"
          data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>

    {{!-- <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">

      </div>
      <div class="ar-1-1">
        <!-- START PREVIEW -->
        <div
          data-pages-bg-image="/assets/images/Gallery-new/sm-bcb91a04-402c-4d57-87b4-dbac162a3659.JPG"
          data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div> --}}

    <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">

      </div>
      <div class="ar-1-1">
        <!-- START PREVIEW -->
        <div
          data-pages-bg-image="/assets/images/Gallery-new/ff2b584d-c665-4037-b345-ab0ad8d2da02.JPG"
          data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>

    <!-- END GALLERY ITEM -->
    <!-- START GALLERY ITEM -->
    {{!-- <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">

      </div>
      <div class="ar-1-1">
        <!-- START PREVIEW -->
        <div
          data-pages-bg-image="/assets/images/Gallery-new/70cd3009-33f2-46ea-8bcf-9036ca6d4b1d.JPG"
          data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div> --}}

    {{!-- <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">
      </div>
      <div class="ar-1-1">
        <div
          data-pages-bg-image="/assets/images/Gallery-new/e9a4e201-a215-470e-9756-a0f5acac3997.JPG"
          data-overlay-opacity="0.4">
        </div>
      </div>
    </div> --}}

    <!-- START GALLERY ITEM -->
    <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">
      </div>
      <div class="ar-1-1">
        <!-- START PREVIEW -->
        <div
          data-pages-bg-image="/assets/images/Gallery-new/c1c07baf-d4d2-44ab-858a-26745c01e975.JPG"
          data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>
    <!-- END GALLERY ITEM -->
    <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">

      </div>
      <div class="ar-2-1">
        <!-- START PREVIEW -->
        <div
          data-pages-bg-image="/assets/images/Gallery-new/0e70781b-547f-494b-a1aa-5a156b3ff06d.JPG"
          data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>

    <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">

      </div>
      <div class="ar-2-1">
        <!-- START PREVIEW -->
        <div
          data-pages-bg-image="/assets/images/Gallery-new/sm-5fdbfb9a-5484-45a9-9133-81a0b853d2e1.JPG"
          data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>

    {{!-- <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
        <div class="inner bottom-left bottom-right padding-30">

        </div>
        <div class="ar-2-1">
          <div data-pages-bg-image="/assets/images/Mask-Group-7@3x.png"
            data-bg-overlay="" data-overlay-opacity="0.4">
          </div>
        </div>
      </div>

      <div class="gallery-item col-sm-3 col-xs-6 no-padding hover-zoom">
        <div class="inner bottom-left bottom-right padding-30">

        </div>
        <div class="ar-1-1">
          <!-- START PREVIEW -->
          <div data-pages-bg-image="/assets/images/Mask-Group-8@3x.png"
            data-bg-overlay="" data-overlay-opacity="0.4">
          </div>
          <!-- END PREVIEW -->
        </div>
      </div> --}}

    <!-- END GALLERY ITEM -->
  </div>

</section>