<!-- BEGIN INTRO CONTENT -->
<main style="height: 100%">
  <section class="container-fluid">
    <div class="row">

    </div>
  </section>

  <section class="container-fluid b-t b-black">
    <div class="row">
      <div class="col-md-4 text-center bg-success hover-push demo-story-block">
        <div class="hover-backdrop"
          style="background:url('/assets/images/feature_1.jpg')"></div>
        <div class="hover-caption bottom-left bottom-right p-b-40">
          <h4 class="text-white m-b-25">Paint it the way you like it!</h4>
          <a class="font-montserrat fs-12 hint-text text-white all-caps">More
            information</a>
        </div>
      </div>
      <div class="col-md-4 text-center bg-success hover-push demo-story-block">
        <div class="hover-backdrop"
          style="background:url('/assets/images/feature_2.jpg')"></div>
        <div class="hover-caption bottom-left bottom-right p-b-40">
          <h4 class="text-white m-b-25">Capture the moments</h4>
          <a class="font-montserrat fs-12 hint-text text-white all-caps">More
            information</a>
        </div>
      </div>
      <div class="col-md-4 text-center bg-success hover-push demo-story-block">
        <div class="hover-backdrop"
          style="background:url('/assets/images/feature_3.jpg')"></div>
        <div class="hover-caption bottom-left bottom-right p-b-40">
          <h4 class="text-white m-b-25">Digital solutions led by<br>
            clarity, simplicity & honesty</h4>
          <a class="font-montserrat fs-12 hint-text text-white all-caps">More
            information</a>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- END INTRO CONTENT -->