<!-- BEGIN JUMBOTRON -->
<section id="demo-hero-4" class="jumbotron relative full-vh"
  data-pages-bg-image="/assets/images/banner-2.png">
  <div class="container-xs-height full-height">
    <div class="col-xs-height col-middle">
      <!-- BEGIN CONTENT -->
      <div class="content-layer">
        <div class="inner full-height">
          <div class="container-xs-height full-height">
            {{!-- <div class="col-xs-height col-middle text-center">
              <h1 class="hidden-xs">Life is a story. Make yours last.</h1>
              <h2 class="visible-xs">Life is a story. Make yours last.</h2>
            </div> --}}
          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
  </div>
</section>
<!-- END JUMBOTRON -->

<section class="container-fluid">
  <div class="row">
    <div class="col-md-7 no-padding">
      <div class="homeBgImage">
      </div>
    </div>
    <div class="col-md-5 text-center">
      <div class="content">
        <section class="m-t-30 text-center p-30">
          <h1>UPSCALE PREMIERE STRIP MALL</h1>
          <button class="btn btn-white m-t-20">LEARN MORE</button>
        </section>
      </div>
    </div>
  </div>
  </div>
</section>