<section
  class="p-t-90 p-b-90 bg-master-white demo-story-block xs-p-t-20 xs-p-b-20 m-t-20">
  <div class="container sm-p-t-20">
    <div class="text-center">
      <h3 class="text-black m-b-0 m-t-5">Sign Up</h3>
      <h6 class="text-black m-b-0">Get notified of new events</h6>
    </div>

    <form role="form" class="p-3" style="margin-top: 100px">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group form-group-default">
            <label>First name</label>
            <input type="text" class="form-control black">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group form-group-default">
            <label>Last name</label>
            <input type="text" class="form-control black">
          </div>
        </div>
      </div>
      <div class="form-group form-group-default">
        <label>Message</label>
        <textarea class="form-control black" style="height:100px"
          placeholder="Type the message you want inquire"></textarea>
      </div>

      <div class="clearfix"></div>
      <div class="text-center">
        <button class="btn btn-white m-t-20">Sign up</button>
      </div>

    </form>

  </div>
</section>