<section class="p-t-90 p-b-90 bg-master-white demo-story-block m-t-80">
  <div class="container sm-p-t-20 p-b-30">
    <div class="text-center">
      <h3 class="text-black m-b-0 m-t-5">Sign Up</h3>
      <h6 class="text-black m-b-0">Get notified of new offers</h6>
    </div>

    <form role="form" class="p-3" style="margin-top: 100px">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group form-group-default">
            <label>First name</label>
            <input type="text" required class="form-control black">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group form-group-default">
            <label>Last name</label>
            <input type="text" required class="form-control black">
          </div>
        </div>
      </div>
      <div class="form-group form-group-default p-t-30">
        <label>E-mail address</label>
        <input type="text" required class="form-control black" />
      </div>

      <div class="clearfix"></div>
      <div class="text-center">
        <button class="btn exploreMoreBtn m-t-20"
          style="padding:15px; width:200px">Sign
          up</button>
      </div>

    </form>

  </div>
</section>