<div class="p-t-60">
  <!-- BEGIN PRICING SECTION -->
  <section class="p-t-40 p-b-75">
    <div class="container p-t-20">
      <h1 class="text-center ">Plans built for every agent you desire</h1>
      <div class="p-l-30 p-r-30 m-t-50">
        <div class="row">
          <div class="col-sm-4 p-l-5 p-r-5">
            <div class="pricing-headingm m-t-45">
              <div class="bg-menu p-t-60 p-b-60">
                <h1 class="text-center m-b-25 font-montserrat text-white">$24
                </h1>
                <p class="hint-text text-center text-white">One client - one end
                  <br> user product</p>
              </div>
              <div class="bg-menu-dark p-t-20 p-b-20">
                <h5 class="block-title text-center text-white no-margin">Normal
                  license</h5>
              </div>
            </div>
            <div
              class="pricing-details p-t-30 p-l-40 p-r-40 md-p-l-20 md-p-r-20">
              <ul class="no-style">
                <li class="text-black fs-16 normal m-b-25"><span
                    class="bold">One</span> End product</li>
                <li class="text-black fs-16 normal m-b-25"><span
                    class="bold">Single</span> User Selection</li>
                <li class="text-black fs-16 normal m-b-25"><span
                    class="bold">On-demand</span> product services</li>
                <li class="text-black fs-16 normal m-b-25"><span
                    class="bold">Full</span> Customer Support</li>
                <li class="text-black fs-16 normal m-b-25"><span
                    class="bold">One</span> user of Premium plugin</li>
                <li class="text-black fs-16 normal m-b-25"><span
                    class="bold">Full</span> comment section</li>
              </ul>
              <p class="small-text hint-text">Use, by one client, in a single
                end product which end users are not charged for. </p>
            </div>
          </div>
          <div class="col-sm-4 p-l-5 p-r-5 xs-m-t-40">
            <div class="pricing-heading xs-p-t-10">
              <div class="m-l-15 m-r-15 bg-primary padding-10">
                <h5 class="block-title text-center text-white no-margin">
                  Recommended</h5>
              </div>
              <div class="bg-menu p-t-60 p-b-60">
                <h1 class="text-center m-b-25 font-montserrat text-white">$1000
                </h1>
                <p class="hint-text text-center text-white">Many clients - one
                  end
                  <br> user product</p>
              </div>
              <div class="bg-menu-dark p-t-20 p-b-20">
                <h5 class="block-title text-center text-white no-margin">
                  Extended license</h5>
              </div>
            </div>
            <div
              class="pricing-details p-t-30 p-l-40 p-r-40 md-p-l-20 md-p-r-20">
              <ul class="no-style">
                <li class="text-black fs-16 normal m-b-25"><span
                    class="bold">One</span> End product</li>
                <li class="text-black fs-16 normal m-b-25"><span
                    class="bold">Single</span> User Selection</li>
                <li class="text-black fs-16 normal m-b-25"><span
                    class="bold">On-demand</span> product services</li>
                <li class="text-black fs-16 normal m-b-25"><span
                    class="bold">Full</span> Customer Support</li>
                <li class="text-black fs-16 normal m-b-25"><span
                    class="bold">One</span> user of Premium plugin</li>
                <li class="text-black fs-16 normal m-b-25"><span
                    class="bold">Full</span> comment section</li>
              </ul>
              <p class="small-text hint-text">Use, by one client, in a single
                end product which end users are not charged for. </p>
            </div>
          </div>
          <div class="col-sm-4 p-l-5 p-r-5">
            <div class="pricing-heading m-t-45 ">
              <div class="bg-menu p-t-60 p-b-60">
                <h1 class="text-center m-b-25 font-montserrat text-white">$XXX
                </h1>
                <p class="hint-text text-center text-white"> client - one end
                  <br> user product</p>
              </div>
              <div class="bg-menu-dark p-t-20 p-b-20">
                <h5 class="block-title text-center text-white no-margin">Custom
                  license</h5>
              </div>
            </div>
            <div
              class="pricing-details p-t-30 p-l-40 p-r-40 md-p-l-20 md-p-r-20">
              <ul class="no-style">
                <li class="text-black fs-16 normal m-b-25"><span
                    class="bold">One</span> End product</li>
                <li class="text-black fs-16 normal m-b-25"><span
                    class="bold">Single</span> User Selection</li>
                <li class="text-black fs-16 normal m-b-25"><span
                    class="bold">On-demand</span> product services</li>
                <li class="text-black fs-16 normal m-b-25"><span
                    class="bold">Full</span> Customer Support</li>
                <li class="text-black fs-16 normal m-b-25"><span
                    class="bold">One</span> user of Premium plugin</li>
                <li class="text-black fs-16 normal m-b-25"><span
                    class="bold">Full</span> comment section</li>
              </ul>
              <p class="small-text hint-text">Use, by one client, in a single
                end product which end users are not charged for. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END PRICING SECTION -->
  <!-- START FOOTER -->
  <section class="p-t-10 p-b-10 bg-master-darkest">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p class="fs-11 no-margin font-arial text-white small-text"><span
              class="hint-text">Exclusive only at</span> Envato
            Marketplace,Themeforest <span class="hint-text">See</span> Standard
            licenses &amp; Extended licenses
          </p>
        </div>
        <div class="col-sm-6 text-right">
          <p class="fs-11 no-margin font-arial text-white small-text">Copyright
            © 2014 REVOX. All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- END FOOTER -->
</div>