<!-- BEGIN JUMBOTRON -->
<section id="demo-hero-3" class="jumbotron vh-70 p-t-80" data-pages="parallax">
  <div class="inner full-height">
    <!-- BEGIN SLIDER -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <!-- BEGIN SLIDE -->
        <div class="swiper-slide fit slide-1"
          style="background-position: center"
          data-pages-bg-image="assets/images/70de6b515150813ddd79412e402bddee@2x.png">
          <!-- BEGIN IMAGE PARRALAX -->
          <div class="slider-wrapper">
          </div>
          <!-- END IMAGE PARRALAX -->
          <!-- BEGIN CONTENT -->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle text-left">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <h1 class="light text-white"
                          data-swiper-parallax="-15%">
                          Hare
                        </h1>
                        <hr />
                        <p class="text-white">Transition from sitting in to
                          standing out</p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SLIDE -->
        <!-- BEGIN SLIDE -->
        <div class="swiper-slide fit slide-1"
          data-pages-bg-image="/assets/images/f70de6b515150813ddd79412e402bddee@2x.png">
          <!-- BEGIN IMAGE PARRALAX -->
          <div class="slider-wrapper">
          </div>
          <!-- END IMAGE PARRALAX -->
          <!-- BEGIN CONTENT -->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle text-right">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <h1 class="light text-white"
                          data-swiper-parallax="-15%">
                          Hare
                        </h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SLIDE -->
      </div>
      <!-- Add Navigation -->
      <div
        class="swiper-navigation swiper-dark-solid swiper-button-prev auto-reveal">
      </div>
      <div
        class="swiper-navigation swiper-dark-solid swiper-button-next auto-reveal">
      </div>
    </div>
  </div>
  <!-- END SLIDER -->
</section>
<!-- END JUMBOTRON -->
<!-- BEGIN HERO WITH PARALLAX -->
{{!-- <section class="demo-hero-5" data-pages="parallax"
  data-pages-bg-image="assets/images/gallery_hero_1.jpg">
  <div class="container-xs-height full-height">
    <div class="col-xs-height col-middle text-center">
      <h1 class="text-white inner">Your in good hands</h1>
    </div>
  </div>
</section> --}}
<!-- END HERO WITH PARALLAX -->
<!-- BEGIN PORTFOLIO SECTION -->
<section class="p-b-40 p-t-40">
  <div class="gallery">
    <div class="grid-sizer col-sm-3 col-xs-6 no-padding small-buttons" ></div>

    <!-- START GALLERY ITEM -->
    <div class="gallery-item col-sm-3 col-xs-12 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">
        <h5 class="block-title text-white">NAKENOHS</h5>
        <button class="btn btn-primary">SHOP NOW</button>
        {{!-- <h6 class="block-title fs-11 hint-text text-white m-t-5 m-b-0">03 Nov
          2015</h6>
        <p class="font-arial fs-11 text-white muted m-t-5 m-b-0">Logo design,
          Web Design and Branding</p> --}}
      </div>
      <div class="ar-1-1">
        <!-- START PREVIEW -->
        <div data-pages-bg-image="/assets/images/Mask-Group-2@3x.png"
          data-bg-overlay="black" data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>
    <!-- END GALLERY ITEM -->

    <div class="gallery-item col-sm-6 col-xs-6 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">
        <h5 class="block-title text-white ">MAI HAVEN</h5>
        <button class="btn btn-primary">SHOP NOW</button>
      </div>
      <div class="ar-1-1">
        <div data-pages-bg-image="/assets/images/Mask-Group-3@3x.png"
          data-bg-overlay="black" data-overlay-opacity="0.4">
        </div>
      </div>
    </div>

    <!-- START GALLERY ITEM -->
    <div class="gallery-item col-sm-3 col-xs-6 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">
        <h5 class="block-title text-white ">MONTAIGNE PLACE</h5>
        <button class="btn btn-primary">SHOP NOW</button>

      </div>
      <div class="ar-1-1">
        <!-- START PREVIEW -->
        <div data-pages-bg-image="/assets/images/Mask-Group-13@3x.png"
          data-bg-overlay="black" data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>
    <!-- END GALLERY ITEM -->
    <!-- START GALLERY ITEM -->
    <div class="gallery-item col-sm-3 col-xs-6 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">
        <h5 class="block-title text-white ">SUGAR RUSH CONFECTIONARY
        </h5>
        <button class="btn btn-primary">SHOP NOW</button>

      </div>
      <div class="ar-1-1">
        <!-- START PREVIEW -->
        <div data-pages-bg-image="/assets/images/Mask-Group-1@3x.png"
          data-bg-overlay="black" data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>
    <!-- END GALLERY ITEM -->

    <!-- START GALLERY ITEM -->
    <div class="gallery-item col-sm-3 col-xs-6 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">
        <h5 class="block-title text-white ">ILARE</h5>
        <button class="btn btn-primary">SHOP NOW</button>

      </div>
      <div class="ar-1-1">
        <!-- START PREVIEW -->
        <div data-pages-bg-image="/assets/images/Mask-Group-12@3x.png"
          data-bg-overlay="black" data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>
    <!-- END GALLERY ITEM -->
    <div class="gallery-item col-sm-3 col-xs-12 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">
        <h5 class="block-title text-white ">SWITCH COSMETICS</h5>
        <button class="btn btn-primary">SHOP NOW</button>

      </div>
      <div class="ar-1-1">
        <!-- START PREVIEW -->
        <div data-pages-bg-image="/assets/images/Mask-Group-4@3x.png"
          data-bg-overlay="black" data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>
    <div class="gallery-item col-sm-3 col-xs-6 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">
        <h5 class="block-title text-white ">AUROE</h5>
        <button class="btn btn-primary">SHOP NOW</button>

      </div>
      <div class="ar-1-1">
        <!-- START PREVIEW -->
        <div data-pages-bg-image="/assets/images/Mask-Group-5@3x.png"
          data-bg-overlay="black" data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>
    <div class="gallery-item col-sm-6 col-xs-6 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">
        <h5 class="block-title text-white ">FEMI HANDBAGS</h5>
        <button class="btn btn-primary">SHOP NOW</button>

      </div>
      <div class="ar-1-1">
        <!-- START PREVIEW -->
        <div data-pages-bg-image="/assets/images/Mask-Group-6@3x.png"
          data-bg-overlay="black" data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>
    <div class="gallery-item col-sm-6 col-xs-12 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">
        <h5 class="block-title text-white ">CREPES DE FRANCE</h5>
        <button class="btn btn-primary">SHOP NOW</button>

      </div>
      <div class="ar-2-1">
        <div data-pages-bg-image="/assets/images/Mask-Group-7@3x.png"
          data-bg-overlay="black" data-overlay-opacity="0.4">
        </div>
      </div>
    </div>

    <div class="gallery-item col-sm-3 col-xs-6 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">
        <h5 class="block-title text-white ">ARTISAN BUTCHERY</h5>
        <button class="btn btn-primary">SHOP NOW</button>

      </div>
      <div class="ar-1-1">
        <!-- START PREVIEW -->
        <div data-pages-bg-image="/assets/images/Mask-Group-8@3x.png"
          data-bg-overlay="black" data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>

    <div class="gallery-item col-sm-3 col-xs-6 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">
        <h5 class="block-title text-white ">ECLECICCHIQUE</h5>
        <button class="btn btn-primary">SHOP NOW</button>

      </div>
      <div class="ar-1-1">
        <!-- START PREVIEW -->
        <div data-pages-bg-image="/assets/images/Mask-Group-9@3x.png"
          data-bg-overlay="black" data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>

    <div class="gallery-item col-sm-3 col-xs-6 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">
        <h5 class="block-title text-white ">NITAS</h5>
        <button class="btn btn-primary">SHOP NOW</button>

      </div>
      <div class="ar-1-1">
        <!-- START PREVIEW -->
        <div data-pages-bg-image="/assets/images/Mask-Group-10@3x.png"
          data-bg-overlay="black" data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>

    <div class="gallery-item col-sm-3 col-xs-6 no-padding hover-zoom">
      <div class="inner bottom-left bottom-right padding-30">
        <h5 class="block-title text-white ">RUFF N TUMBLE</h5>
        <button class="btn btn-primary">SHOP NOW</button>

      </div>
      <div class="ar-1-1">
        <!-- START PREVIEW -->
        <div data-pages-bg-image="/assets/images/Mask-Group-11@3x.png"
          data-bg-overlay="black" data-overlay-opacity="0.4">
        </div>
        <!-- END PREVIEW -->
      </div>
    </div>

    <!-- END GALLERY ITEM -->
  </div>
</section>
<!-- END PORTFOLIO SECTION -->
<!-- BEGIN CONTENT SECTION -->
{{!-- <section class="p-b-70 p-t-40">
  <div class="container">
    <h5 class="block-title hint-text ">Explore</h5>
    <h5>
      Our long standing vision has been to bypass the usual admin dashboard
      structure, and move forward with a more
      sophisticated yet simple framework that would create a credible impact on
      the many conventional dashboard users.</h5>
  </div>
</section> --}}
<!-- END CONTENT SECTION -->
{{!-- <section class="p-b-70 p-t-70 demo-hero-5"
  data-pages-bg-image="assets/images/gallery_hero_2.jpg">
</section>
<!-- BEGIN CONTENT SECTION -->
<section class="bg-master-lightest p-b-85 p-t-75">
  <div class="container">
    <div class="md-p-l-20 md-p-r-20 xs-no-padding">
      <h5 class="block-title hint-text ">Explore</h5>
      <div class="row">
        <div class="col-sm-5 col-md-4">
          <h1 class="m-t-5">Trusted <br>all around the World.</h1>
        </div>
        <div class="col-sm-7 col-md-8 no-padding xs-p-l-15 xs-p-r-15">
          <img src="assets/images/logo_set.png"
            class="image-responsive-height lazy sm-m-t-30" alt="">
        </div>
      </div>
    </div>
  </div>
</section> --}}