.homeBgImage {
  background-image: url(/assets/images/Home/Header/image-after-slider.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.no-padding {
  padding: 0
}

.center-bg {
  background-position: center
}

body, .btn, h1, h2, h3, h4, h5, h6, label, .jumbotron p, .header .menu>li>a {
  font-family: 'helvetica';
}

.form-group label:not(.error) {
  font-family: 'helvetica';
}

.block-title {
  font-family: 'times new roman';
}

/* body {
  background-color: white;
  color: black;
  font-family: 'helvetica';
  font-size: 1.6rem;
  --webkit-appearance: none;
} */

.swiper-slide {
  background-color: black;
  background-position: center;
}

.img {
  background-image: url("nc_assets/banner.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.img-holder {
  margin-top: 100px
}

.logo-hr {
  width: 40%;
  display: inline-block;
  border: 0.6px solid black;
  margin-top: 0;
  margin-bottom: 0;
}

.content {
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-t-30 {
  margin-top: 150px
}

.m-t-50 {
  margin-top: 250px
}

.m-t-70 {
  margin-top: 70px
}

.p-30 {
  padding: 30px
}

.p-50 {
  padding: 50px
}

.form-group-default {
  background-color: inherit
}

.fa {
  font-size: 25px
}

.gallery {
  background-color: white
}

h6 {
  font-size: 12.8px;
  line-height: 1.5;
  letter-spacing: 0.7px;
}

.form-group-default.focused {
  background-color: inherit;
}

.block-title {
  font-size: 21px;
  margin-bottom: 10px
}

.exploreMoreBtn {
  color: black;
  background-color: transparent;
  border: 0.6px solid black
}

.demo-story-block {
  height: 80%;
}

.text-black {
  color: black
}

.bg-master-darkest {
  background-color: black;
}

.form-group-default {
  border: none
}

.btn-primary, .btn-primary:focus {
  background-color: transparent;
  border-color: white
}

.btn-primary, .btn-primary {
  background-color: transparent;
  border-color: white
}

.btn-primary:hover {
  background-color: white;
  border-color: white;
  color: black
}

.btn {
  border-radius: 0;
  -webkit-border-radius: 0;
}

.inner .btn {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}

.form-group-default .form-control {
  border-bottom: 1px solid white;
  padding-left: 10px;
}

.form-group-default .form-control.black {
  border-bottom: 1px solid black;
  padding-left: 10px;
}

.focused {
  color: white;
  background-color: inherit;
}

.form-control {
  color: white;
}

.form-control.black {
  color: black;
}

.vh-70 {
  height: 70vh;
}

.vh-60 {
  height: 60vh;
}

.bg-master-white {
  background-color: white
}

.p-t-80 {
  padding-top: 80px;
}

.header.dark {
  background-color: black
}

input {
  width: 70%;
  border: 1px solid black;
  padding: 12px;
  font-size: 14px;
  font-family: 'helvetica';
  line-height: initial;
  --webkit-appearance: none;
  --webkit-border-radius: 0
}

input[type=text] {
  --webkit-border-radius: 0px
}

input[type=email] {
  --webkit-border-radius: 0px
}

button {
  min-width: 100px;
  color: white;
  background-color: black;
  border: 1px solid black;
  font-size: 14px;
  padding: 12px;
  font-family: 'helvetica';
  line-height: initial;
}

h1 {
  font-family: 'times new roman';
  font-size: 2.4rem;
  font-weight: 100;
}

.m-t-85 {
  margin-top: 85px
}

small {
  font-family: 'helvetica';
  font-size: 60%;
}

button:focus, input:focus {
  outline: none
}

.f-w-100 {
  font-weight: 100;
}

.mapouter {
  position: relative;
  text-align: left;
  height: 400px;
  width: 500px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 400px;
  width: 550px;
}

#gmap {
  height: 450px;
  width: 550px;
}

#video {
  width: 560px;
  height: 400px
}

@media only screen and (max-device-width: 500px) {
  .m-t-50 {
    margin-top: 40px
  }
  .m-t-70 {
    margin-top: 45px
  }
  .img {
    height: 350px;
  }
  button {
    min-width: 55px;
    padding: 12px;
    font-size: 13px;
  }
  input {
    width: 68%;
    padding: 10px;
    font-size: 16px;
  }
  h1 {
    font-size: 2.2rem;
  }
  small {
    font-size: 48%;
  }
  .p-50 {
    padding: 5px
  }
  .logo-hr {
    width: 24%;
  }
  .homeBgImage {
    height: 300px;
  }
  .m-t-30 {
    margin-top: 10px
  }
  .demo-story-block {
    height: 100%;
  }
  .center-bg {
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    height: 32vh !important;
  }
  .swiper-slide {
    background-size: cover;
    background-repeat: no-repeat
  }
  #gmap {
    height: 400px;
    width: 370px;
  }
  #video {
    width: 100%;
    height: 300px
  }
}